parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null #8889 par défaut sur mac
    database_name: guillaume-movies
    database_user: root
    database_password: null #root par défaut sur mac
    mailer_transport: smtp
    mailer_host: smtp.mandrillapp.com
    mailer_user: machinchoseformation@gmail.com
    mailer_password: 38Utc_Sd5KdI4sz0Gr2Y4g 
    locale: en
    secret: bRtug93kd02k69gjfoQtr90t2u90t24u90gu092u9023gu
